<div class="row justify-content-lg-center">
  <div class="col-lg-9">
    <div class="text-center">
      <app-alert
        [type]="alert"
        *ngIf="alert">{{messageResponse}}</app-alert>
    </div>
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->
      <div class="card-header card-header-content-sm-between">
        <div class="d-grid gap-2 mb-2 mb-sm-0">
          <h4 class="card-header-title">

          </h4>
        </div>

        <div class="js-nav-scroller hs-nav-scroller-horizontal">
          <!-- Nav -->
          <ul class="nav nav-segment nav-fill">
            <li class="nav-item">
              <button type="text" class="btn btn-primary"
                      (click)="onClickList()">{{dataConst.wording.listButton}}</button>
            </li>
          </ul>
          <!-- End Nav -->
        </div>
      </div>
      <div class="card-body">
        <app-value-form
          [properties]="properties$ | async"
          [loading]="loading$ | async"
          [valueSelected]="value$ | async"
          (action)="formAction($event)"
        >
        </app-value-form>
      </div>
    </div>
  </div>
</div>
