<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="flex-grow-1">
  <!-- Form -->
  <div class="container-fluid">
    <div class="row">
      <!-- End Col -->
      <div class="col-lg-2 col-xl-2"></div>
      <div class="col-lg-6 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Form -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
