<div class="gradient-x-three-sm-primary">
  <div class="container content-space-2">
<section class="banniere d-flex justify-content-center align-items-center">
    <div class="container-title">
        <h1 class="title">Nos Tarifs</h1>
    </div>
</section>

<section class="mention mt-4 cgu">
    <div class="mention-text m-auto cgu-text">
        <!-- <h2>A quoi s'attendre ?</h2> -->
        <div class=" align-text">
        <p>
            Découvrez nos offres exclusives pour une expérience unique et mémorable. Nos plans de tarification flexibles vous offrent un accès privilégié à une variété d'hébergements insolites, chacun racontant sa propre histoire. Du pittoresque au spectaculaire, explorez des lieux extraordinaires conçus pour émerveiller et inspirer. Optez pour le plan qui correspond à vos aspirations et vivez des moments inoubliables. Avec AtypikHouse, transformez votre voyage en une aventure exceptionnelle.
        </p>
    </div>
        <div class="pricing">
            <div class="pricing-plan">
              <div class="plan-name">Plan Basique</div>
              <div class="plan-price">$19.99/mois</div>
              <ul class="plan-features">
                <li>Accès aux hébergements insolites</li>
                <li>Historique des réservations</li>
              </ul>
              <a href="#" class="cta-button">Choisir</a>
            </div>
          
            <div class="pricing-plan">
              <div class="plan-name">Plan Standard</div>
              <div class="plan-price">$39.99/mois</div>
              <ul class="plan-features">
                <li>Accès aux hébergementions insolites</li>
                <li>Historique des réservations</li>
                <li>Contacts propriétaires</li>
              </ul>
              <a href="#" class="cta-button">Choisir</a>
            </div>
          
            <div class="pricing-plan">
              <div class="plan-name">Plan Premium</div>
              <div class="plan-price">$59.99/mois</div>
              <ul class="plan-features">
                <li>Accès aux hébergementions insolites</li>
                <li>Historique des réservations</li>
                <li>Contacts propriétaires</li>
                <li>Paiement en ligne</li>
              </ul>
              <a href="#" class="cta-button">Choisir</a>
            </div>
          </div>
    </div>
</section>
</div>
</div>