<ng-container [formGroup]="formGroup">
  <div class="d-flex justify-content-between align-items-center">
    <app-input-label
      [forInput]="forInput">{{label}}</app-input-label>
    <app-link [customClass]="'form-label-link'" [urlLink]="'/password-forget'">
      {{authConst.wording.forgotPassword}}
    </app-link>
  </div>
  <div class="input-group input-group-merge">
    <input [type]="show ? 'text' : 'password'"
           class="form-control form-control-lg"
           [formControlName]="formName"
           name="password"
           [id]="forInput"
           [placeholder]="placeHolder">
    <a id="changePassTarget"
       class="input-group-append input-group-text"
       (click)="isVisible()">
      <i [class]="show ? 'bi-eye' : 'bi-eye-slash'"></i>
    </a>
  </div>
  <app-error-message *ngIf="isErrorForm()">
    {{errorMessage}}
  </app-error-message>
</ng-container>
