<app-headeradmin></app-headeradmin>
<main>
    
    <!--SIDEBAR-->
    <div class="container-fluid h-100">
        <div class="row h-100">
          <aside class="col-12 col-md-2 p-0 bg-dark">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
              <div class="collapse navbar-collapse">
                <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item" routerLink="/locations">
                       <a class="nav-link pl-0" >Locations</a>
                    </li>
                    <li class="nav-item" routerLink="/categories">
                      <a class="nav-link pl-0" >Categories</a>
                   </li>
                   <li class="nav-item" routerLink="/customers">
                      <a class="nav-link pl-0">Customers</a>
                   </li>
                   <li class="nav-item" routerLink="/reservations">
                      <a class="nav-link pl-0" >Reservations</a>
                   </li>
                    <!-- Insérez ici le reste de votre menu -->            
                  </ul>
              </div>
            </nav>
          </aside>
          <main class="col">

            <!--TABLEAU DE CLIENT-->
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">List of customers</li>
            
        </ol>
        <div class="row p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name </th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone number</th>
                      
                       
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>valentin </td>
                        <td>valentin@gmail.com</td>
                        <td>male</td>
                        <td> +336111111111</td>
                       
                       
                    </tr>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>David </td>
                        <td>david@gmail.com</td>
                        <td>male</td>
                        <td> +336888888</td>
                        
                       
                    </tr>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>Desir </td>
                        <td>desir@gmail.com</td>
                        <td>male</td>
                        <td> +336999999</td>
                        
                       
                    </tr>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>Gloria </td>
                        <td>gloria@gmail.com</td>
                        <td>female</td>
                        <td>+336444444</td>
                        
                       
                    </tr>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>Nell </td>
                        <td>nell@gmail.com</td>
                        <td>male</td>
                        <td> +336333333</td>
                        
                       
                    </tr>
                    <tr v-for="(client,index) in clients" :key="index">
                        <th scope="row"></th>
                        <td>Cabrel </td>
                        <td>cabrel@gmail.com</td>
                        <td>male</td>
                        <td> +332222222</td>
                       
                       
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="text-center col-md-12" v-show="moreExists">
                <button class="btn btn-primary btn-sm" v-on:click="loadMore"><i class="fa fa-arrow-down"></i>Afficher la suite</button>
            </div>
            
        </div>
    </div>
</main>
</div>
</div>
</main>