<style>
  .cont {
    background-color: beige;
  }
  .img{
    height: 500px;
    width: 100%;
    background-image: url('assets/images/bg5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
    .img h4{
    font-size: 50px;
    font-weight: 500px;
    text-align: center;
    color: white;
    margin-top: -20px;
    padding-top: 20px;
    }
    .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
    }
    .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
    }
</style>

<div class="cont">


<div class="img">
<h4>Trouver votre Atypik House</h4>


</div>


<div class="container-fluid text-center bg-grey">
  <h2>Your Available Atypik House</h2><br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/bg5.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
          <a href="#"><button class="btn"> Details</button></a>
          <a href="#"></a><button class="btn"> Reserver</button>
          <a href="#"></a><button class="btn"> Historique</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/bg5.jpg" alt="New York" width="400" height="300">
        <p><strong>Barcelona</strong></p>
        <p>Welcome to Barcelona</p>
          <a href="#"><button class="btn"> Details</button></a>
          <a href="#"></a><button class="btn"> Reserver</button>
          <a href="#"></a><button class="btn"> Historique</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/bg5.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>London</strong></p>
        <p>Yes, London is ours</p>
          <a href="#"><button class="btn"> Details</button></a>
          <a href="#"></a><button class="btn"> Reserver</button>
          <a href="#"></a><button class="btn"> Historique</button>
      </div>
    </div>
  </div>
</div>
</div>

