<header class="img">
<app-navbar></app-navbar>
<h1>Offrez vous une des vacances dans un de nos atypikHouses </h1>
  <app-searchbar (sendSearchFormData)="getLocationSearchFormData($event)" ></app-searchbar>
</header>

<div class="cont">
<main>
  <br/>
  <h2>Les plus belles expériences </h2>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-5">

   
    <app-location-list 
      [houses]="houses"
      >
      </app-location-list>


    <!-- START THE FEATURETTES -->
    <h2>Les categories les plus demandées </h2>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Maison de hobbit: <span class="text-muted">pour tous les amateurs de la saga Le seigneur des anneaux</span></h2>
        <p class="lead">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae neque asperiores ab, mollitia, laborum dolorum temporibus quod assumenda maiores eaque rem! Voluptatibus, hic? Rem quisquam animi natus id, excepturi suscipit!
         <br>
          <button class="btn btn-secondary">
            En savoir plus
          </button>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/bg5.jpg" width="400" height="400" alt="image pour maison de hobbit">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Les roulottes </h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, perferendis fuga. Cupiditate dolores itaque quasi blanditiis velit iste facere voluptas deserunt ullam, pariatur illum provident fugiat voluptatem reiciendis temporibus voluptates?
          <br>
          <button class="btn btn-secondary">
            En savoir plus
          </button>
        </p>
        
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/bg7.jpg" width="400" height="400" alt="image pour roulottes">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">cabane sur pilotis <span class="text-muted">Pour passer un bon moment de pêche</span></h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium labore rerum amet maxime minima nam quam possimus molestiae quae nostrum corporis odio doloribus ab sint, veritatis assumenda, veniam eum quia!
          <br>
          <button class="btn btn-secondary">
            En savoir plus
          </button>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/bg4.jpg" width="400" height="400" alt="image pour maison cabnae sur pilotis">

      </div>
    </div>

    <br>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  

</main>
