
      
<div class="contain">
    <button class="btn btn-secondary btn-sm m-2" routerLink="/" style="float: right;">Returner à l'acceuil</button>
    <div class="d-flex justify-content-center h-100" > 
        <img  src="assets/logo/logo2.png" routerLink="/" alt="logo atypikHouse" style="float: left;" width="50">
        <h1 >Creer un compte</h1>
        
        
   
</div> 

<div class="container ">

<div class="d-flex justify-content-center h-100">
    <div class="card">
        
        <div class="card-header">
            <h2 style="float: left;">Accedez à votre atypik compte</h2>

            
        </div>
        <div class="card-body">
        <span *ngIf="error " class="error">{{ error }} </span>
        
        <form [formGroup]="registerform" (ngSubmit)="submit()">

            <div class="form-floating m-3">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email </label>
                <span *ngIf=" registerform.controls['email'].touched &&  registerform.get('email')?.errors?.['required'] " class="error">
                            Veuillez renseigner une adresse email.
                </span>
            </div>
            <div class="form-floating m-3">
                <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="prenom">
                <label for="firstname">Prenom </label>
                <span *ngIf="registerform.controls['firstname'].touched && registerform.get('firstname')?.errors?.['required'] " class="error">
                            Veuillez renseigner un prenom.
                </span>
            </div>
            <div class="form-floating m-3">
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nom">
                <label for="nom">Nom </label>
                <span *ngIf="registerform.controls['name'].touched && registerform.get('name')?.errors?.['required'] " class="error">
                            Veuillez renseigner un nom.
                </span>
            </div>
            <div class="form-floating m-3">
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Mot de passe">
                <label for="password">Mot de passe </label>
                <span *ngIf="registerform.controls['password'].touched && registerform.get('password')?.errors?.['required'] " class="error">
                            Veuillez renseigner un mot de passe.
                </span>
            </div>
            <div class="form-floating m-3">
                <input type="password" formControlName="repetedPassword" class="form-control" id="repetedPassword" placeholder="confirmer mot de passe">
                <label for="repetedPassword">Confirmer mot de passe</label>
                <span *ngIf="registerform.controls['repetedPassword'].touched && registerform.get('repetedPassword')?.errors?.['required'] " class="error">
                            Veuillez repeter le mot de passe.
                </span>
            </div>
        
            <div class="wthree-text " style="color: #fff;">
                <label class="anim m-1">
                    <input formControlName="stayConnecteed" type="checkbox" class="checkbox" required=""> 
                    <span>  Rester connecter</span>
                </label> <br/>
                <label class="anime m-1">
                    <input formControlName="stayInformed" type="checkbox" class="checkbox">
                    <span>  Je souhaite recevoir des idees de vacances, des offres speciales 
                        et autres par email de la part d'Atypik House. Vous pouvez vous desabonnez des emails
                    promotionnels a tout moment </span>
                </label>
                <div class="clear"> </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary m-1" type="submit">Se connecter</button>
        </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links" >
               J'a déja un compte<a routerLink="/login">Se connecter</a>
            </div>
           
        </div>
    </div>
</div>

</div>
</div>