<div class="gradient-x-three-sm-primary">
    <div class="container content-space-2">
          <div
            class="position-relative content-space-t-3 content-space-t-md-0 content-space-t-lg-3 content-space-b-2 content-space-b-md-3 content-space-b-xl-5">
            <div class="row position-relative zi-2 mt-md-n5">
              <div class="col-md-11 mb-7 mb-md-0">
                <!-- Heading -->
                <div class="w-md-75 mb-7">
                  <h1 class="display-4">Contactez-nous</h1>
                </div>
                <p>
                    Avez-vous des interrogations au sujet de nos hébergements insolites et cabanes sur AtypikHouse ? <br>
                    Explorez notre Centre d'Aide en ligne pour trouver des réponses ou soumettez-nous vos demandes via le formulaire ci-dessous. 
                    Notre équipe est à votre disposition pour vous accompagner dans la recherche du séjour insolite parfait. En cas de situation urgente, n'hésitez pas à nous contacter directement au 01 12 48 96 76. Nous sommes là pour rendre votre expérience Atypik inoubliable !
                </p>
                
                <!-- SEARCH HOUSE -->
                <div class="form_container">
                    <form action="#" method="post">
                        <label for="firstname">Prénom :</label>
                        <input type="text" id="firstname" name="firstname" required>
            
                        <label for="lastname">Nom :</label>
                        <input type="text" id="lastname" name="lastname" required>
            
                        <label for="email">Email :</label>
                        <input type="email" id="email" name="email" required>
            
                        <label for="phone">Téléphone :</label>
                        <input type="tel" id="phone" name="phone" required>
            
                        <label for="message">Message :</label>
                        <textarea id="message" name="message" required></textarea>
            
                        <button class="btn btn-primary" type="submit">Envoyer ma demande</button>
                    </form>
                </div>
                <!-- END SEARCH HOUSE -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
    

          </div>
        </div>
    </div>
