<div class="row">
  <div class="col-lg-8 mb-3 mb-lg-0">
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
      <!-- Header -->
      <div class="card-header card-header-content-between">
        <h4 class="card-header-title">Details reservation </h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <div class="avatar avatar-xl">
              <img class="img-fluid" [src]="getUrlHouseImage(reservation)"
                   alt="Image Description">
            </div>
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="row">
              <div class="col-md-6 mb-3 mb-md-0">
                <a class="h5 d-block" href="./ecommerce-product-details.html">Topman shoe in green</a>

                <div class="fs-6 text-body">
                  <span>Gender:</span>
                  <span class="fw-semibold">Women</span>
                </div>
                <div class="fs-6 text-body">
                  <span>Color:</span>
                  <span class="fw-semibold">Green</span>
                </div>
                <div class="fs-6 text-body">
                  <span>Size:</span>
                  <span class="fw-semibold">UK 7</span>
                </div>
              </div>
              <!-- End Col -->

              <div class="col col-md-2 align-self-center">
                <h5>$21.00</h5>
              </div>
              <!-- End Col -->

              <div class="col col-md-2 align-self-center">
                <h5>2</h5>
              </div>
              <!-- End Col -->

              <div class="col col-md-2 align-self-center text-end">
                <h5>$42.00</h5>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        <!-- End Media -->

        <hr>


        <!-- End Row -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  </div>

  <div class="col-lg-4">
    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <h4 class="card-header-title">Client</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-no-gutters">
          <li class="list-group-item">
            <a class="d-flex align-items-center" href="./ecommerce-customer-details.html">
              <div class="avatar avatar-circle">
                <img class="avatar-img" src="./assets/img/160x160/img10.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="text-body text-inherit">Amanda Harvey</span>
              </div>
              <div class="flex-grow-1 text-end">
                <i class="bi-chevron-right text-body"></i>
              </div>
            </a>
          </li>

          <li class="list-group-item">
            <a class="d-flex align-items-center" href="./ecommerce-customer-details.html">
              <div class="icon icon-soft-info icon-circle">
                <i class="bi-basket"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <span class="text-body text-inherit">7 orders</span>
              </div>
              <div class="flex-grow-1 text-end">
                <i class="bi-chevron-right text-body"></i>
              </div>
            </a>
          </li>

          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Infos contact</h5>
            </div>

            <ul class="list-unstyled list-py-2 text-body">
              <li><i class="bi-at me-2"></i>ella@site.com</li>
              <li><i class="bi-phone me-2"></i>+1 (609) 972-22-22</li>
            </ul>
          </li>

          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <h5>Shipping address</h5>
            </div>

            <span class="d-block text-body">
                    45 Roker Terrace<br>
                    Latheronwheel<br>
                    KW5 8NW, London<br>
                    UK <img class="avatar avatar-xss avatar-circle ms-1"
                            src="./assets/vendor/flag-icon-css/flags/1x1/gb.svg" alt="Great Britain Flag">
                  </span>
          </li>

        </ul>
        <!-- End List Group -->
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  </div>
</div>
