.contain {
    background-image: url('../../assets/images/bg1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container{
    height: 625px;
    align-content: center;
    }
    
    .card{
    height: 410px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }

    // .backgroundColor[]
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: white;
    }
    
    .social_icon span:hover{
    color: #3B5998;
    cursor: pointer;
    }
    
    .card-header h2{
      font-size: large;
    color: white;
    margin-top: 30px;
    }
    h1{
      color: #fff;
      text-align: center ;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    /*.input-group-prepend span{
    width: 50px;
    background-color: #333;
    color: black;
    border:0 !important;
    overflow:hidden;
    }*/
    
  label {
    color: white;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: white;
    width: 100px;
    margin-top: -20px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: #333;
    }
    
    .links{
    color: white;
    margin-top: -30px;
    }
    
    .links a{
    margin-left: 4px;
    }

    .error{
      color: red;
    }

    .withTextColor{
      color: #fff;
    }