<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
      
      
<div class="contain">
    <button class="btn btn-secondary btn-sm m-2" routerLink="/" style="float: right;">Returner à l'acceuil</button>
        <div class="d-flex justify-content-center h-100" > 
            <img  src="assets/logo/logo2.png" routerLink="/" alt="logo atypikHouse" style="float: left;" width="50">
            <h1 >Accedez à votre atypik compte</h1>
            
       
    </div> 
<div class="container ">
    
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            
            <div class="card-header">
                <h2>Accedez à votre atypik compte</h2>
 
                
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
            <span *ngIf="error" class="error"> {{error}}</span>
            
               <form [formGroup]="loginForm"  (ngSubmit)="submit()">
                    <div class="form-floating m-3">
                        <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email </label>
                    </div>
                    <div class="form-floating m-3" >
                        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Mot de passe</label>
                    </div>

                    <div class="checkbox mb-3 withTextColor">
                    <label>
                        <input formControlName="remember" type="checkbox" value="remember-me"> se soiuvenir de moi
                    </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
                    <p class="mt-5 mb-3 text-muted">&copy; atypikHouse 2022</p>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links" >
                   N'avez vous pas de compte?<a routerLink="/register">Creer un compte</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Aviez-vous oublie votre mot de passe?</a>
                </div>
               
            </div>
        </div>
    </div>

</div>
</div>