<div class="gradient-x-three-sm-primary">
    <div class="container content-space-2">
<section class="banniere d-flex justify-content-center align-items-center">
    <div class="container-title">
        <h1 class="title">Qui sommes nous ?</h1>
    </div>
</section>

<section class="mention mt-4 cgu">
    <div class="mention-text m-auto cgu-text">
        <h2>🏡 À propos de nous :</h2>
        <p> 
            AtypikHouse est une SARL passionnée, formée par trois associés partageant un amour commun pour les voyages, l'hébergement alternatif et la symbiose avec la nature. Notre capital de 10 000 € représente notre engagement envers la création d'une communauté qui embrasse des modes de vie exceptionnels.
        </p>

        <h2>🌍 Notre Mission :</h2>
        <p>
            Basés à Pierrefonds, dans l'Oise, nous aspirons à introduire un service de location d'hébergements alternatifs en France et en Europe. Des cabanes dans les arbres aux yourtes, en passant par les cabanes flottantes, AtypikHouse transforme l'ordinaire en extraordinaire.
        </p>

        <h2>💡 Votre Projet :</h2>
        <p>
            AtypikHouse sollicite votre WebAgency pour concevoir un site internet novateur, accessible sur tous les supports, permettant aux visiteurs de découvrir notre activité, de consulter nos hébergements uniques, de se connecter à nos réseaux sociaux, de s'inscrire et de réserver leur séjour. Les fonctionnalités clés incluent la communication avec les propriétaires, les paiements en ligne via des API telles que PayPal et Stripe, un historique des réservations et la possibilité pour les locataires de laisser des commentaires.
        </p>

        <h2>🏠 Pour les Propriétaires :</h2>
        <p>
            Notre site permet aux propriétaires de mettre en location leurs biens, de définir les paramètres, de gérer les disponibilités, d'annuler des réservations et de suivre l'historique des locations.
        </p>

        <h2>👨‍💼 Gestion Administrative :</h2>
        <p>
            Les gérants d'AtypikHouse souhaitent pouvoir gérer les comptes, les équipements, et les propriétés dynamiques du site. Ils ont besoin d'une plateforme modérée, garantissant la qualité des données saisies par les utilisateurs.
        </p>

        <h2>📱 Application Mobile :</h2>
        <p>
            En plus du site, une application mobile doit permettre aux propriétaires de recevoir des notifications, de consulter l'historique des commandes et d'annuler des réservations. Les locataires peuvent également consulter leur historique et laisser des commentaires.
        </p>

        <h2>💻 Votre Mission :</h2>
        <p>
            Nous attendons avec impatience vos propositions créatives. Votre mission consiste à créer un site web et des applications mobiles conformes à nos besoins. Pensez à inclure une étude marketing approfondie, des recommandations techniques justifiées, un serveur web sécurisé, des tests rigoureux, et une présentation claire du projet.

            🚀 Prêt à transformer le voyage et l'hébergement ? Montrez-nous vos idées !
        </p>
       
    </div>
</section>
</div>
</div>