<main>
    <app-headeradmin></app-headeradmin>

    <!--SIDEBAR-->
    <div class="container-fluid h-100">
        <div class="row h-100">
          <aside class="col-12 col-md-2 p-0 bg-dark">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
              <div class="collapse navbar-collapse">
                <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item" routerLink="/locations">
                       <a class="nav-link pl-0" >Locations</a>
                    </li>
                    <li class="nav-item" routerLink="/categories">
                      <a class="nav-link pl-0" >Categories</a>
                   </li>
                   <li class="nav-item" routerLink="/customers">
                      <a class="nav-link pl-0">Customers</a>
                   </li>
                   <li class="nav-item" routerLink="/reservations">
                      <a class="nav-link pl-0" >Reservations</a>
                   </li>
                    <!-- Insérez ici le reste de votre menu -->            
                  </ul>
              </div>
            </nav>
          </aside>
          <main class="col">

                <!--TABLEAU DE LOCATIONS-->
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">List of locations</li>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus"></i>Add new location</button>
           
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form v-on:submit.prevent="updateProduit" >
                        <div class="form-group">
                                <label for="categorie_id">Categorie</label>
                               <select v-model="editproduitData.categorie_id" name="idcategorie" id="categorie_id" class="form-control">
                                    <option> Choose one category </option>
                                    <option  v-for="(categorie , index ) in categories" :value="categorie.id" :key="index"></option>
                               </select>
                                <div class="invalid-feedback" v-if="errors.categorie_id"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Name of location</label>
                                <input
                                    type="text"
                                    v-model="editproduitData.name"
                                    class="form-control"
                                    id="name"
                                />
                                <div class="invalid-feedback" v-if="errors.name"></div>
                            </div>
                            <div class="form-group">
                                <label for="image">Image</label>
                                <div  class="imageInForm">
                                        <img :src="`${$store.state.serverPath}/storage/${editproduitData.image}`" ref="editProduitImageDisplay" />
                                </div>
                                <input
                                    type="file"
                                    class="form-control"
                                    v-on:change="editAttachImage"
                                    ref="editProduitImage"
                                    id="image"
                                />
                                <div class="invalid-feedback" v-if="errors.image"></div>
                            </div>
                            <div class="form-group">
                                <label for="price">Price location</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    v-model="editproduitData.price"
                                    id="price"
                                />
                                <div class="invalid-feedback" v-if="errors.price"></div>
                            </div>
                            <hr />
                            <div class="text-right">
                                    
                            </div>
                            
                        </form>
        
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>
        </ol>
        <div class="row p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name of location</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price </th>
                        <th scope="col">Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(locations,index) in location" :key="index">
                        <th scope="row"></th>
                        
                        <th>paris</th> 
                        <td>maison de luxe</td>
                        <td><img class="w100" :src="`${$store.state.serverPath}/storage/${produit.image}`"></td>
                        <td>120£ </td>
                        <td>
                                <button class="btn btn-success" v-on:click="editProduit(produit)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" v-on:click="deleteProduit(produit)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr v-for="(produit,index) in produits" :key="index">
                        <th scope="row"></th>
                        <th>Italie</th> 
                        <td>maison classique</td>
                        <td><img class="w100" :src="`${$store.state.serverPath}/storage/${produit.image}`"></td>
                        <td>60£ </td>
                        <td>
                                <button class="btn btn-success" v-on:click="editProduit(produit)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" v-on:click="deleteProduit(produit)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr v-for="(produit,index) in produits" :key="index">
                        <th scope="row"></th>
                        <th>Inde</th> 
                        <td>maison de grande surface</td>
                        <td><img class="w100" :src="`${$store.state.serverPath}/storage/${produit.image}`"></td>
                        <td>120£ </td>
                        <td>
                                <button class="btn btn-success" v-on:click="editProduit(produit)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" v-on:click="deleteProduit(produit)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    
                   
                </tbody>
            </table>
            <hr />
            <div class="text-center col-md-12" v-show="moreExists">
                <button class="btn btn-primary btn-sm" v-on:click="loadMore"><i class="fa fa-arrow-down"></i>Afficher la suite</button>
            </div>
            
        </div>



        
            
      
    </div>

</main>
</div>
</div>
</main>