<form (ngSubmit)="emitAction()" [formGroup]="thematicForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-4">
        <app-input-text
          [formName]="dataConst.forms.libelle"
          [label]="dataConst.forms.labelLibelle"
          [formGroup]="thematicForm"
          [forInput]="'forAddThematic'"
          [placeHolder]="dataConst.forms.labelLibelle">
        </app-input-text>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-4">
        <app-input-switch
          [formName]="dataConst.forms.show"
          [forInput]="'forThematicShow'"
          [formGroup]="thematicForm">
          {{dataConst.forms.labelShow}}
        </app-input-switch>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <app-button-submit
      [formGroup]="thematicForm"
      [customClass]="'btn btn-primary btn-lg'">
      {{displayBtnLabel()}}
    </app-button-submit>
  </div>
</form>
<!-- End Form -->
