<app-navbar></app-navbar>
<app-headd></app-headd>
<div class="cont">
<div class="container-fluid text-center bg-grey">
    <h2>Hebergements Speciaux</h2>
    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="Paris" width="400" height="300">
          <p><strong>Berlin</strong></p>
          <p>City ​​of modern landmarks</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div> <br/>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="New York" width="400" height="300">
          <p><strong>Geneve</strong></p>
          <p>City ​​with exceptional views of the majestic Mont-Blanc</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div><br/>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Madrid</strong></p>
          <p>City ​​with rich collections of European works of art</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div><br/>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey">
    <h2>Hebergements Normaux</h2>
    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="Paris" width="400" height="300">
          <p><strong>Marseille</strong></p>
          <p>City ​​of commerce and immigration</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="New York" width="400" height="300">
          <p><strong>Toulouse</strong></p>
          <p>The city in pink</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Montpellier</strong></p>
          <p>Yes, London is ours</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div> <br/>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="Paris" width="400" height="300">
          <p><strong>Saint Etienne</strong></p>
          <p>Yes, we built Paris</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div> <br/>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="New York" width="400" height="300">
          <p><strong>Bordeaux</strong></p>
          <p>The city of Art Museums</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button><br/> <br/>
            <h5>Price/day</h5>
        </div> <br/>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="assets/images/bg5.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>Le Havre</strong></p>
          <p>Yes, London is ours</p>
            <a href="#"><button class="btn"> Details</button></a>
            <a href="#"></a><button class="btn"> Reserver</button>
            <a href="#"></a><button class="btn"> Historique</button> <br/> <br/>
            <h5>Price/day</h5>
        </div>
      </div>
    </div>
  </div>
  <app-footerb></app-footerb>
</div>