<div class="gradient-x-three-sm-primary">
  <div class="container content-space-2">

<section class="banniere d-flex justify-content-center align-items-center">
    <div class="container-title">
        <h1 class="title">Responsabilités Sociétales d'AtypikHouse</h1>
        
    </div>
</section>

<section class="mention mt-4 cgu">
    <div class="mention-text m-auto cgu-text">
        <p>
            Chez AtypikHouse, nous croyons en la responsabilité sociétale en tant que pilier fondamental de notre entreprise. Notre engagement envers la société et l'environnement guide chacune de nos actions, reflétant notre vision d'une entreprise durable et socialement responsable. Voici comment nous nous efforçons de contribuer positivement au monde qui nous entoure :
        </p>
        <ol>
            <li>
              <h3>Respect de l'Environnement</h3>
              <p>
                Nous nous engageons à minimiser notre empreinte environnementale. Nos hébergements alternatifs sont conçus pour être écologiques, en utilisant des matériaux durables et en favorisant les énergies renouvelables. De plus, nous soutenons des initiatives de reboisement et de préservation de la biodiversité.
              </p>
            </li>
          
            <li>
              <h3>Responsabilité Sociale</h3>
              <p>
                AtypikHouse contribue au bien-être social en favorisant des pratiques éthiques. Nous collaborons étroitement avec les communautés locales pour promouvoir le tourisme responsable et assurer des retombées positives pour tous. La transparence et l'équité sont au cœur de nos relations avec les propriétaires, les locataires et notre équipe.
              </p>
            </li>
          
            <li>
              <h3>Accessibilité et Inclusivité</h3>
              <p>
                Nous nous efforçons de rendre nos hébergements accessibles à tous. En concevant des espaces adaptés, en proposant des fonctionnalités conviviales pour les personnes à mobilité réduite, et en promouvant une expérience inclusive, nous aspirons à accueillir une diversité de voyageurs.
              </p>
            </li>
          
            <li>
              <h3>Engagement Communautaire</h3>
              <p>
                AtypikHouse croit en la construction de communautés fortes. Nous investissons dans des projets locaux, soutenons des causes sociales et encourageons nos employés à participer activement au bénévolat. En travaillant ensemble, nous visons à avoir un impact positif et durable là où nous sommes présents.
              </p>
            </li>
          
            <li>
              <h3>Innovation Sociale</h3>
              <p>
                Notre quête d'innovation s'étend au-delà de l'expérience client. Nous explorons des moyens créatifs d'apporter des changements positifs dans la société, que ce soit par le biais de programmes éducatifs, de partenariats avec des entreprises sociales ou d'initiatives visant à résoudre des défis sociaux.
              </p>
            </li>
          </ol>
       
    </div>
</section>
</div>
</div>