<div class="container">
    
    <div class="row p-5" >
        <div class="col-12">
            
       
            <form [formGroup]="searchBarForm"  (ngSubmit)="submit()">
                
                <div class="row">
                    <div class="col-10">
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label for="inputDestination">Destination</label>
                                <select formControlName="city" class="custom-select form-control-sm form-control form-select" id="inputDestination">
                                    <option selected></option>
                                    <option value="paris">Paris</option>
                                    <option value="nantes">Nantes</option>
                                    <option value="tours">Tours</option>
                                    <option value="tours">Lyon</option>
                                    <option value="tours">Annecy</option>
                                    <option value="tours">Cannes</option>
                                    <option value="tours">Troyes</option>
                                    <option value="tours">Eze</option>
                                    <option value="tours">Bordeaux</option>
                                    <option value="tours">Giverny</option>
                                </select>
                              <!--  <span  *ngIf="searchBarForm.get('city')?.errors?.['required']"> Veillez choisir une ville</span> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCategory">Category</label>
                                <select formControlName="category" class="custom-select form-control-sm form-control form-select" id="inputCategory">
                                    <option selected></option>
                                    <option value="hutte">Cabane dans les arbres</option>
                                    <option value="bulle">Cabane</option>
                                    <option value="cabane">Cabane sur pilotis</option>
                                    <option value="cabane">Chalet</option>
                                    <option value="cabane">Lov Nid</option>
                                    <option value="cabane">Roulotte</option>
                                    <option value="cabane">Dôme</option>
                                    <option value="cabane">Maison troglodyte</option>
                                    <option value="cabane">Maison de Hobbit</option>
                                    <option value="cabane">Yourt</option>
                                    <option value="cabane">Tiny House</option>
                                    <option value="cabane">Cabane vegetalisée</option>
                                    <option value="cabane">Tipi</option>
                                    <option value="cabane">Bateu</option>
                                    <option value="cabane">Inclasable</option>
                                </select>
                            </div>
                        </div>
                
                
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class="form-group">
                                    <label for="inputNbrPerson">Nombre de personnes</label>
                                    <input formControlName="nbPerson" type="number" class=" form-control" id="inputNbrPerson">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputNbrPerson">Date Arrivée</label>
                                <div class="dp-hidden position-absolute">
                                    <div class="input-group">
                                        <input name="datepicker"
                                        class="form-control"
                                        ngbDatepicker
                                        #datepicker="ngbDatepicker"
                                        [autoClose]="'outside'"
                                        (dateSelect)="onDateSelection($event)"
                                        [displayMonths]="2"
                                        [dayTemplate]="t"
                                        outsideDays="hidden"
                                        [startDate]="fromDate!"
                                        tabindex="-1">
                                        <ng-template #t let-date let-focused="focused">
                                            <span class="custom-day"
                                                    [class.focused]="focused"
                                                    [class.range]="isRange(date)"
                                                    [class.faded]="isHovered(date) || isInside(date)"
                                                    (mouseenter)="hoveredDate = date"
                                                    (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="input-group">
                            
                                    <input #dpFromDate
                                            class="form-control " placeholder="yyyy-mm-dd"
                                            name="dpFromDate"
                                            [value]="formatter.format(fromDate)"
                                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                                          
                                            >
                                    <button class="btn btn-secondary btn-sm" (click)="datepicker.toggle()" type="button">
                                        <i class="bi bi-calendar3"></i>
                                    </button>
                                </div>
                            </div>
                            <div class=" form-group col-md-4">
                                <label for="inputNbrPerson">Date Départ</label>
                                <div class="input-group">
                                    <input #dpToDate
                                        class="form-control " placeholder="yyyy-mm-dd"
                                        name="dpToDate"
                                        [value]="formatter.format(toDate)"
                                        (input)="toDate = validateInput(toDate, dpToDate.value)"
                                        
                                        >
                                    <button class="btn btn-secondary btn-sm" (click)="datepicker.toggle()" type="button">
                                        <i class="bi bi-calendar3"></i>
                                    </button>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-2">
                   <!-- [disabled]="searchBarForm.invalid"-->
                        <button  class="btn btn-primary btn-lg searsh-button-position searsh-rounder" >
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
               </div>
                    
            </form>

        </div>

    </div>
</div>
