<!-- Filter Form -->
<div class="gradient-x-three-sm-primary">
    <div class="container content-space-2">
      <h1 class="display-4"> Inspiration</h1>
      <p>
        Découvrez l'art de personnaliser votre expérience chez AtypikHouse ! Chez nous, chaque 
        logement a une histoire unique, et nous croyons en la magie de la personnalisation. Si vous avez une vision particulière 
        pour rendre votre séjour encore plus mémorable, nous sommes là pour la concrétiser. 
        Que ce soit une idée de décoration spécifique, des équipements particuliers ou des touches artistiques, partagez-nous votre inspiration. Nous sommes ouverts à l'inédit et au sur-mesure, car chaque détail compte dans la création de souvenirs exceptionnels. Utilisez le formulaire ci-dessous pour nous soumettre votre idée, et laissez-nous transformer votre vision en une réalité unique. Chez AtypikHouse, votre personnalisation est notre passion !
      </p>
      <img class="img-fluid" src="../assets/img/900x900/img26.jpg" alt="Atypikhouse: - cabane dans l'arbre customisé" style="margin-bottom: 2%;">
      <!-- End Row -->
      <h2>Formulaire de customisation de vote hebergement</h2>
      <div class="form_container content-space-2">
        
        <form action="#" method="post">
            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Téléphone :</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="message">Votre désir :</label>
            <textarea id="message" name="message" required></textarea>

            <button class="btn btn-primary" type="submit">Envoyer ma demande</button>
        </form>
    </div>
    </div>
  </div>
  <!-- End Filter Form -->
  

  <!-- End Card Grid -->
  