<header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top" style="margin-top: -0.1rem;">
  <div class="container-fluid">
    <nav class="navbar-nav-wrap">
      <!-- White Logo -->
      <a class="navbar-brand d-none d-lg-flex" href="../../../../index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="../../../../assets/logo/logo2.png" alt="Logo">
      </a>
      <!-- End White Logo -->

      <!-- Default Logo -->
      <a class="navbar-brand d-flex d-lg-none" href="../../../../index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="../../../../assets/logo/logo2.png" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <div class="ms-auto">
        <a class="link link-sm link-secondary" [routerLink]="['/']">
          <i class="bi-chevron-left small ms-1"></i> {{dataConst.wording.goHome}}
        </a>
      </div>
    </nav>
  </div>
</header>
