<footer class="bg-dark">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-2">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" [routerLink]="'/'" aria-label="Space">
            <img class=" footerlogo" src="../assets/logo/logo3.png" alt="AtypikHouse logo" >
          </a>
        </div>
        <!-- End Logo -->

        <!-- List -->
        <!-- <ul class="list-unstyled list-py-1">
          <li>
            <a class="link-sm link-light" href="#">
              <i class="bi-geo-alt-fill "></i> 39 rue du Bois d’Haucourt, Pierrefonds</a></li>
          <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i class="bi-telephone-inbound-fill me-1"></i>
            (+33) 1 02 03 04 05 </a></li>
        </ul> -->
        <!-- End List -->

      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Compagnie</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#" [routerLink]="'/compagny/qui-sommes-nous'">Qui sommes-nous ? </a></li>
          <li><a class="link-sm link-light" href="#" [routerLink]="'/compagny/responsabilite'">Responsabilités </a></li>
          <li><a class="link-sm link-light" href="#" [routerLink]="'/auth/signup'">Nous rejoindre</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Fonctionalités</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#" [routerLink]="'/compagny/tarifs'">Tarifs</a></li>
        </ul>
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#" [routerLink]="'/destinations'">Rechercher une location pas ville</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <!-- End Col -->

      <div class="col-sm">
        <h5 class="text-white mb-3">Ressources</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> Aide</a></li>
          <li><a class="link-sm link-light" href="#" [routerLink]="'/auth/signin'"><i class="bi-person-circle me-1"></i> Se connecter</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top border-white-10 my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <a [routerLink]="'/documents/politique-de-confidentialite'" class="link-sm link-light" >Politique de confidentialité</a>
          </li>
          <li class="list-inline-item">
            <a [routerLink]="'/documents/mentions-legales'" class="link-sm link-light" >Mentions légales</a>
          </li>
          <li class="list-inline-item">
            <a [routerLink]="'/documents/cgu'" class="link-sm link-light" >CGU</a>
          </li>
          <li class="list-inline-item">
            <a [routerLink]="'/documents/site-map'" class="link-sm link-light" >Site Map</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.facebook.com/">
              <i class="bi-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.instagram.com/">
              <i class="bi-instagram"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.youtube.com/">
              <i class="bi-youtube"></i>
            </a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>
    </div>

    <!-- Copyright -->
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-white-50 small">&copy; 2023 AtypikHouse Tous droits réservés. AtypikHouse est une société à responsabilité limitée au capital de 10 000€, 
        composée de trois associés partageant une passion commune pour les voyages, l'hébergement alternatif et la vie en harmonie avec la nature.</p>
    </div>
    <!-- End Copyright -->
  </div>
</footer>
