<div class="top-bar text-center">
  <p>Dans le cadre de la formation, Consultant Développeur Web et Mobile au sein de Linstitut f2i, il s'agit d'un projet
    étudiant fictif pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué</p>
</div>
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-light bg-white">
  <!-- End Topbar -->
  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" aria-label="hatypic">
        <img class="navbar-brand-logo" src="../../../../assets/logo/logo1.png" alt="Logo Atypikhouse">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
        <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <app-navigation
            *ngFor="let nav of navigations$ | async"
            [navItem]="nav"
            (navigation)="navigationAction($event)"
          > {{ nav}}</app-navigation>
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
