<app-navbar></app-navbar>
<app-headi></app-headi>

<div  class="container p-4">

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <form [formGroup]="ideaForm"  (ngSubmit)="submit() " >
           
            <h2 class="h3 mb-2 fw-normal">Une Idée ?</h2>
        
            <div class="form-floating">
              <input formControlName="nom"  type="nom" class="form-control" id="floatingInput" placeholder="Jhon Doe">
              <label for="floatingInput">Nom</label>
            </div>
            <br/>
            <div class="form-floating">
                <input formControlName="email"  type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <br/>
            <div class="form-floating form-group">
                <textarea formControlName="message" class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" placeholder="Votre message"></textarea>
                <!-- <label for="exampleFormControlTextarea1">Votre idée</label> -->
            </div>
            <br/>
            
            <button class="w-100 btn btn-lg btn-primary" type="submit">Envoyer</button>
            
          </form>
    </div>
    <div class="col-3"></div>
</div>
</div>
<app-footerb></app-footerb>
