<div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
        <div class="agileits-top">
            <h2>Creer un compte</h2>
            <form action="#" method="post">
                <input class="text email" type="email" name="email" placeholder="Adresse e-mail" required="">
                <input class="text" type="text" name="prenom" placeholder="Prenom" required=""> <br/>
                <input class="text" type="text" name="nom" placeholder="Nom" required=""> <br/>
                <input class="text" type="password" name="password" placeholder="Mot de passe" required=""> <br/>
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>Rester connecter</span>
                    </label> <br/>
                    <label class="anime">
                        <input type="checkbox" class="checkbox">
                        <span>Je souhaite recevoir des idees de vacances, des offres speciales 
                            et autres par email de la part d'Atypik House. Vous pouvez vous desabonnez des emails
                        promotionnels a tout moment </span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="CONTINUER">
            </form>
            <p>Vous avez deja un compte? <a href="#"> Se connecter</a></p>
        </div>
    </div>
</div>