
      
<div class="contain">
    <button class="btn btn-secondary btn-sm m-2" routerLink="/" style="float: right;">Returner à l'acceuil</button>
    <div class="d-flex justify-content-center h-100" > 
        <img  src="assets/logo/logo2.png" routerLink="/" alt="logo atypikHouse" style="float: left;" width="50">
        <h1 >Creer un compte</h1>
        
        
   
</div> 

<div class="container ">

<div class="d-flex justify-content-center h-100">
    <div class="card">
        
        <div class="card-header">
            <h2 style="float: left;">Accedez à votre atypik compte</h2>

            
        </div>
        <div class="card-body">
        <!-- <span *ngIf="error" class="error"> {{error}}</span> -->
        
        <form [formGroup]="registerform" (ngSubmit)="submit()">

            <div class="form-floating m-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email </label>
            </div>
            <div class="form-floating m-3">
                <input type="email" formControlName="prenom" class="form-control" id="prenom" placeholder="prenom">
                <label for="prenoms">Prenom </label>
            </div>
            <div class="form-floating m-3">
                <input type="text" formControlName="Nom" class="form-control" id="nom" placeholder="Nom">
                <label for="prenoms">Nom </label>
            </div>
            <div class="form-floating m-3">
                <input type="text" formControlName="password" class="form-control" id="password" placeholder="Mot de passe">
                <label for="password">Mot de passe </label>
            </div>
            <div class="form-floating m-3">
                <input type="text" formControlName="passwordRepeted" class="form-control" id="password" placeholder="confirmer mot de passe">
                <label for="password">Confirmer mot de passe</label>
            </div>
        
            <div class="wthree-text " style="color: #fff;">
                <label class="anim m-1">
                    <input formControlName="check" type="checkbox" class="checkbox" required=""> 
                    <span>  Rester connecter</span>
                </label> <br/>
                <label class="anime m-1">
                    <input formControlName="checkb" type="checkbox" class="checkbox">
                    <span>  Je souhaite recevoir des idees de vacances, des offres speciales 
                        et autres par email de la part d'Atypik House. Vous pouvez vous desabonnez des emails
                    promotionnels a tout moment </span>
                </label>
                <div class="clear"> </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary m-1" type="submit">Se connecter</button>
        </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links" >
               N'avez vous pas de compte?<a routerLink="/register">Creer un compte</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#">Aviez-vous oublie votre mot de passe?</a>
            </div>
           
        </div>
    </div>
</div>

</div>
</div>